:root {

    /*Primary colors */
    --Bright_orange: hsl(31, 77%, 52%);
    --Dark_cyan: hsl(184, 100%, 22%);
    --Very_dark_cyan: hsl(179, 100%, 13%);

    /*Typography */
    /*Paragraphs*/
    --Transparent_white: hsla(0, 0%, 100%, 0.75);
    /*Buttons, headings , background*/
    --Very_light_gray: hsl(0, 0%, 95%);

    /* Fonts */
    --lexend_deca:'Lexend Deca',sans-serif;
    --big_shoulders: 'Big Shoulders Display',cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 0 auto 5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-size: 1.5rem;
    background-color: var(--Very_light_gray);
    font-family: var(--lexend_deca);
    font-weight: 400;
    margin: 0 auto;
}

/* Botones */
.button{
    background-color: var(--Very_light_gray);
    border-radius: 25px;
    width: 15rem;
    padding: 1.5rem;
    margin-top: 8rem;
    font-weight: 700;
}

.button:hover{
    cursor: pointer;
}

/* Contenedores */
.container {
    margin: 8rem auto 6rem;
    max-width: 1440px;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    flex-flow: column nowrap;
}

/* Car category */
.car-category {
    padding: 5rem 6rem 4rem 6rem;
    flex: 0 1 150px;
}

@media (min-width:860px) {
    .flex-container{
        flex-flow: row nowrap;
    }
    .car-category {
        padding: 5rem 6rem 4rem 6rem;
        flex: 0 0 320px;
    }
}

.car-category p {
    color: var(--Transparent_white);
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0;
   
}
.car-category h2 {
    color: var(--Very_light_gray);
    text-transform: uppercase;
    font-family: var(--big_shoulders);
    font-weight: 700;
    font-size: 4rem;
}

/* Sedan category elements */
.sedan {
    background-color: var(--Bright_orange);
    border-radius: 10px 10px 0 0;
}
@media (min-width:860px) {
    .sedan {
        border-radius: 10px 0 0 10px;
    }
}
.sedan .button{
    color: var(--Bright_orange);
    border: 1px solid var(--Bright_orange)
}

.sedan .button:hover {
    color: var(--Very_light_gray);
    border-color:  var(--Very_light_gray);
    background-color: var(--Bright_orange);
    
}

/* suvs category elements */
.suvs {
    background-color: var(--Dark_cyan);
}
.suvs .button {
    color: var(--Dark_cyan);
    border: 1px solid var(--Dark_cyan);
}
.suvs .button:hover {
    color: var(--Very_light_gray);
    border: 1px solid var(--Very_light_gray);
    background-color: var(--Dark_cyan)
}

/* Luxury category elements */
.luxury{
    background-color: var(--Very_dark_cyan);
    border-radius: 0 0 10px 10px;
}
@media (min-width:860px) {
    .luxury {
        border-radius: 0 10px 10px 0;
    }
}

.luxury .button {
    color: var(--Very_dark_cyan);
    border: 1px solid var(--Very_dark_cyan)
}
.luxury .button:hover {
    color: var(--Very_light_gray);
    border: 1px solid var(--Very_light_gray);
    background-color: var(--Very_dark_cyan);
}

